.Page {
  background-color: beige;
  flex-grow: 1;
  flex: 1;
  text-align: center;
}

.PageName {
    font-size: 3em;
    text-align: center;
    background-color:rgba(0, 0, 0, 0);
    border: none;
    outline:none;
}
